/* Start Global Variable */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6ff;
    --paragraph-color: #777;
    --main-duration: 0.5s;
}

/* End Global variable */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", "san-serif";
}

.parent {
    background-color: #eee;
}

.contianer {
    padding-inline: 15px;
    margin-inline: auto;
}

img {
    max-width: 100%;
}

/* small */
@media (min-width: 768px) {
    .contianer {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .contianer {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .contianer {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Components */
.special-heading {
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Components */

/* Start Header */
header {
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration, 0.3s);
}

header .links .icon span:last-child {
    width: 100%;
}

header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}

header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

header .links:hover ul {
    display: block;
    z-index: 1;
}

header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration, 0.3s);
}

header .links ul li a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;
}

/* End Header */

/* Start Landing Section */
.landing {
    background-image: url(../img/Landing-background.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing Section */

/* Start Features Section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .contianer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: var(--paragraph-color);
    font-size: 17px;
}

/* End Features Section */

/* Start Services Section */
.services {
    padding: var(--section-padding) 0;
}


.services .service-contenet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.services .service-contenet .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .service-contenet .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .service-contenet .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .service-contenet .srv .text {
    flex: 1;
}

.services .service-contenet .srv .text h3 {
    margin: 0 0 20px;
}

.services .service-contenet .srv .text p {
    color: var(--paragraph-color);
    font-weight: 300;
    line-height: 1.6;
}

.services .service-contenet .image img {
    width: 70%;
    height: 70%;
}

.services .service-contenet .image {
    text-align: center;
    position: relative;
}

.services .service-contenet .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width:1199px) {
    .image-colum {
        display: none;
    }
}

/* End Services Section */

/* start Portfolio Section */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: var(--paragraph-color);
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio Section */

/* Start About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {

    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

}

.about .container .image {
    position: relative;
    width: 260px;
    height: 250px;
}

@media (max-width: 991px) {

    .about .container .image {
        margin: 0 auto 60px;
    }
}

.about .container .image img {
    max-width: 100%;
    height: 250px;
}

.about .container .image::before {
    content: "";
    position: absolute;
    background-color: #ebeceb;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .container .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 180px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}

@media (max-width: 991px) {

    .about .container .image::after,
    .about .container .image::before {
        display: none;
    }

}

.about .container .text {
    flex-basis: calc(100% - 500px);
    /*     flex: 1;
    padding-left: 200px; */
}

.about .container .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .container .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .container .text p:last-of-type {
    line-height: 2;
    color: var(--paragraph-color);
}

/* End About Section */
/* Start Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }

}

/* End Contact Section */
/* Start Footer Section */

.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer Section */